{%extends 'layout.html'%}

{%block main_content%}
  <form class="form_container" action="{{url_for('admin')}}" method="post">
    Create:
    <select name="record_type" size="1" class="s-type">
      <option value="red-flag">Red-Flag</option>
      <option value="intervention">Intervention</option>
    </select>
    <p>Comment:</p>
    <textarea name="comment" required cols="50" rows="8"></textarea><br>
    <p>Geolocation</p>
    Latitude:	<input type="number" name="latitude" required max="90" min="-90" id="lat" oninput="" value="0.3489792"/><br>
    Longitude: <input type="number" name="longitude" required max="180" min="0" id="long" oninput="" value="32.5992448"/><br>
    <p>Image: <input type="file" name="image" multiple accept=".jpeg, .png, .gif, .jpg" /></p>
    <p>Video: <input type="file" namae="video" multiple accept=".mp4, .ogg, .3gp"/></p>
    <button type="submit" class="btn">Submit</button>
  </form>
{%endblock%}
