<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
    <title>SignIn page</title>
  </head>
  <body class="container">
    <header id="i-header">
      <h1>iReporter</h1>
    </header>
    <!-- iReporter sign in -->
    <div class="sign_in row">
      Log in to iReporter
      <form class="i-sign_in" action="index.html" method="post">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button type="button" name="button">Log in</button>
        <div class="new-user">
          New to iReporter? <a href="{{url_for('sign_up')}}">Sign up now</a>
        </div>
      </form>
    </div><!-- End iReporter sign in -->

    <footer>2018 &copy; iReporter
    </footer>
  </body>
</html>
